name: Cypress Parallel Tests

on:
  push:
    branches:
      - master

jobs:
  run_tests:
    runs-on: ubuntu-latest
    strategy:
      # don't fail the entire matrix on failure
      fail-fast: false
      matrix:
        # run copies of the current job in parallel
        containers: [1, 2, 3]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Download the build folder
        uses: actions/download-artifact@v3

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: cypress run
          record: true
          parallel: true
          start: npm run ci
